/*
    Media Queries
*/

// scale                  0     400px   600px   800px   1050px  1800px

//                        └──┬──┘ └──┬──┘ └──┬──┘ └──┬──┘ └──┬──┘ └──┬──
// Slice numbers:             1      2        3       4       5       6
// scale-names              'xs'    's'      'm'     'l'     'xl'    'hd'


// scale                  0     400px  600px   800px   1050px  1800px

//                        └──┬──┘ └──────────┬─────────┘ └──┬──┘ └──┬──
// scale-devices             'mobile'     'tablet'        'desktop' 'hd'

