/*
    Variables
*/

/*  
    1. Resolutions
    2. Elements
*/


// 1. Resolutions
// --------------------------------------------------
cut = 37.5rem

// 2. Elements
// --------------------------------------------------
padding-sections = 30px 10px 30px 10px