/*
    What is Atomic design ? (http://bradfrost.com/blog/post/atomic-web-design/)
    ----------- JEET Style sheet --------------
    column(ratios = 1, offset = 0, cycle = 0, uncycle = 0, gutter = jeet.gutter)
    span(ratio = 1, offset = 0)
    shift(ratios = 0, col_or_span = column, gutter = jeet.gutter)
    unshift()
    edit()
    center(max_width = 1410px, pad = 0)
    stack(pad = 0, align = false)
    unstack()
    align(direction = both)
    cf()
    above()
    below()
    Docs:
        Kouto Swiss Doc: http://kouto-swiss.io/
        Jeet Doc: http://jeet.gs
*/

    @import 'kouto-swiss'
    @import 'vendor/jeet/'
    // edit();
        
    normalize(); // Reset elements

/*
   ********** Base **********
*/
    @import 'base/_forms'
    @import 'base/_global-classes'
    @import 'base/_headings'
    
/*
   ********** Generic **********
*/
    @import 'generic/_mixins'
    @import 'generic/_reset'
    @import 'generic/_debugs'

/* 
   **********  Pattern   **********
*/
/*
   ---------   Bosons   -----------
*/
    @import '00-bosons/boson-main'
    
/*
   ---------   Quarks   -----------
*/
    @import '02-quarks/quark-main'
/*
   ---------   Atoms   -----------
*/
    @import '03-atoms/atom-main'

/*
   ---------   Molecules   -----------
*/
    @import '04-molecules/molecule-main'
    
/*
   ---------   Organisms   -----------
*/
    @import '05-organisms/organism-main'
    
/*
   ---------   Pages   -----------
*/
    @import '06-pages/page-main'

/*
   ---------   Templates   -----------
*/
    @import '07-templates/template-main'